@font-face {
  font-family: "AbarMidFaNum";
  src: url("/fonts/abarMid/AbarMidFaNum-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AbarMidFaNum";
  src: url("/fonts/abarMid/AbarMidFaNum-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AbarMidFaNum";
  src: url("/fonts/abarMid/AbarMidFaNum-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AbarMidFaNum";
  src: url("/fonts/abarMid/AbarMidFaNum-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AbarMidFaNum";
  src: url("/fonts/abarMid/AbarMidFaNum-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "AbarMidFaNum";
}